<header>
    <!-- #Horizontal navbar -->
    <div class="navbar">
        <ul class="logo-info">
            <li><div class="logo"><a href="#" >Wanderer</a></div></li>
        </ul>
        <ul class="links">
            <li><a [routerLink]="[ '/homepage']">Home</a></li>
            <li><a [routerLink]="[ '/selecDestino']">Destinos</a></li>
            <li><a [routerLink]="[ '/perfil']">Perfil</a></li>
            <li><a [routerLink]="[ '/login']">Login</a></li>
            <li><a href="#">Contactanos</a></li>
        </ul>
        <div class="toggle_btn" (click)="toggleBTNmenu()">
            <i class='bx bxs-grid'></i>
        </div>
    </div>
    <div class="dropdown_menu" id="dropdown">
        <li><a [routerLink]="[ '/homepage']">Home</a></li>
        <li><a [routerLink]="[ '/selecDestino']">Destinos</a></li>
        <li><a [routerLink]="[ '/perfil']">Perfil</a></li>
        <li><a [routerLink]="[ '/login']">Login</a></li>
        <li><a href="#">Contactanos</a></li>
        <li><a href="#">Contactanos</a></li>
    </div>
    <div class="presentacion">
        <p> Sumérgete en culturas fascinantes, maravíllate con paisajes impresionantes y crea recuerdos que perdurarán para siempre.</p>

    </div>
</header>