<section>
    <div class="card_info">
         <div class="card"><img src="./assets/images/playas.jpeg" alt="">
            <div class="contenido">
                <h2>Playas</h2>
                <p>Un paraíso bordado por el océano pacifico, llenas de paisajes naturales y belleza.</p>
                <a 
                    (click)="seleccionarTipo('playas')"
                >
                Ver detalles
                </a>
            </div>
        </div>
        <div class="card"><img src="./assets/images/rios.jpeg" alt="">
            <div class="contenido">
                <h2>Rios</h2>
                <p>Sumérgete en la belleza natural de rápidos emocionantes hasta serenos caudales.</p>
                <a 
                    (click)="seleccionarTipo('rios')"
                >
                Ver detalles
                </a>
            </div>
        </div>
        <div class="card"><img src="./assets/images/fauna1.jpeg" alt="">
            <div class="contenido">
                <h2>Flora y Fauna</h2>
                <p>Descubre la asombrosa flora y fauna mientras te sumerges en su exuberante biodiversidad.</p>
                <a 
                    (click)="seleccionarTipo('flora')"
                >
                Ver detalles
                </a>
            </div>
        </div>
        <div class="card"><img src="./assets/images/especial.jpeg" alt="">
            <div class="contenido">
                <h2>Algo especial...</h2>
                <p>Selecciona lugares completamente desconocidos y encuentra secretos jamas mencionados</p>
                <a 
                    (click)="seleccionarTipo('especial')"
                >
                    Ver detalles
                </a>
            </div>
        </div>
    </div>
</section>
