<footer>
    <div class="footer-content">
        <div class="contenido">
            <h1>Wanderer</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate sapiente ipsa facere quam consequuntur temporibus fuga nisi eveniet saepe eum ipsum nostrum sunt porro similique, reiciendis eaque reprehenderit consequatur. Ipsam.</p>
        </div>
        <div class="redes">
            <i class='bx bxl-facebook'></i>
            <i class='bx bxl-twitter' ></i>
            <i class='bx bxl-instagram-alt' ></i>
        </div>
    </div>
    
</footer>
